<form method="POST" action="/task/addtask">
<label> Title </label>
  <input type="text" id="title" name="title" value="{{title}}"> <br><br>


  <label> Description </label>
   <textarea id="description" name="description">{{description}}</textarea> <br><br>


  <input type="submit" value="Add Task">
</form>